### CloudMC Credentials
CMC_ENDPOINT="" # CloudMC API Endpoint
CMC_KEY=""      # CloudMC API Key


### Elastic Credentials
ELASTIC_CLOUDID="" # Elastic Cloud ID
ELASTIC_KEY=""     # Elastic API Key

### Optional: Slack Credentials & Channel
# SLACK_TOKEN=""
# SLACK_CHANNEL=""

### DEFAULTS
# QUERY_DAYS_AGO=2
# THRESHOLD=0.05